@import './../../assets/common/vars.scss';

.header-info {
	z-index: 2;

	&__wrapper {
		padding: 40px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	&__card {
		text-align: center;
		color: $header-info-color;
	}

	&__value {
		margin-bottom: 10px;

		font-weight: 700;
		font-size: 5.6rem;
		line-height: 1;
		letter-spacing: .5rem;
	}

	&__descr {
		font-weight: 300;
		font-size: 2rem;
		line-height: 2.2rem;
	}

	@include minW($xxs) {
		&__wrapper {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@include maxW($lg) {
		background-color: $header-info-bg;
	}

	@include minW($lg) {
		margin-top: -300px;
		padding-bottom: 112px;

		&__value {
			margin-bottom: 20px;
			font-size: 6.8rem;
		}

		&__descr {
			font-size: 2.6rem;
		}

	}
}