@import './../../assets/common/vars.scss';

.about {
	&__btn-box {
		display: flex;
		flex-wrap: wrap;
		margin: -10px;
	}

	&__btn {
		margin: 10px;
	}

	.h3,
	.subtitle {
		max-width: 100% !important;
	}

	@include resolution(to-xxs) {
		&__img {
			width: calc(100% + 30px);
			margin-left: -15px;
		}
	}

	@include resolution(to-xs) {
		&__img {
			position: relative;
			margin-bottom: 20px;
			height: 252px;
		}
	}

	@include resolution(xs) {
		display: flex;

		&__img {
			flex: 0 0 auto;
			position: relative;

			margin-right: 20px;
			width: 40%;

			img {
				position: absolute;
				top: 0;
				left: 0;

			}
		}
	}

	@include resolution(md) {
		&__img {
			margin-right: 40px;
		}
	}

	@include resolution(lg) {
		&__img {
			width: 65%;
		}
	}
}