@import './../../assets/common/vars.scss';

.navbar {

	&__row {
		display: flex;
		width: 100%;

		&--top {
			justify-content: space-between;
			align-items: center;
			height: 65px;
		}
	}

	&__logo {
		&-img {
			display: flex;
		}
	}

	&__link {
		display: inline-block;
		width: 100%;
		font-size: 18px;
		font-weight: 700;
		color: inherit;
		text-decoration: none;
		text-transform: capitalize;

		transition: .3s ease;
	}

	&__btn-box {
		display: flex;
		width: 320px;

		.btn {
			width: 45%;

			&:first-child {
				width: 55%;
				margin-right: 10px;
			}
		}
	}


	@include respond-from(to-md) {
		&__row {
			position: relative;

			&--bottom {
				position: absolute;
				flex-direction: column;
				height: calc(100vh - 65px);

				margin-left: -$container-padding;
				padding: 0 $container-padding;


				transform: translateY(100%);
				opacity: 0;
				transition: .5s ease;

				&.open {
					transform: translateY(0%);
					opacity: 1;
				}
			}
		}

		&__burger {
			display: flex;
			align-items: center;

			cursor: pointer;
		}

		&__list {
			padding: 40px 0;
		}

		&__el {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

	}

	@include respond-from(md) {
		&__row {
			&--top {
				height: 90px;
				border-bottom: 1px solid #433c48;
			}

			&--bottom {
				align-items: center;
				height: 80px;
			}
		}

		&__navigation {
			width: 100%;
		}

		&__list {
			display: flex;
		}

		&__el {
			&:not(:last-child) {
				margin-right: 5%;
			}
		}

		&__btn-box {
			width: 330px;
		}
	}
}