@import './../../assets/common/vars.scss';

.navbar {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	transition: .3s ease;
	z-index: 100;

	&.active {
		.navbar__icon {
			transform: rotate(45deg);

			&::after {
				top: 0px;
				transform: rotate(-90deg);
			}

			&::before {
				display: none;
			}
		}

		.navbar__menu {
			left: 0%;
			visibility: visible;
			opacity: 1;
		}

	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
	}

	&__logo-box {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 11px;

		width: 40px;
		height: 40px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-bottom: 5px;

		font-weight: 600;
		font-size: 1.4rem;
		color: $navbar-color;
	}

	&__subtitle {
		color: $navbar-color;
	}

	&__burger {
		position: relative;

		display: flex;
		align-items: center;

		width: 24px;
		height: 24px;

		z-index: 100;
	}

	&__icon {
		width: 100%;
		height: 2px;

		border-radius: 4px;
		background-color: $navbar-color;

		transition: .3s ease;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;

			width: 100%;
			height: 2px;

			background-color: $navbar-color;
		}

		&::before {
			top: unset;
			bottom: 2px;
		}
	}

	&__menu {
		display: flex;
		align-items: center;

		width: 100%;
	}

	&__link {
		font-size: 1.6rem;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__lang {
		width: 28px;
		height: 20px;
		background: url("data:image/svg+xml,%3Csvg width='28' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='20' rx='2' fill='%23EEEFF1'/%3E%3Cmask id='a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='20'%3E%3Crect width='28' height='20' rx='2' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 0H0v1.333h28V0Zm0 2.667H0V4h28V2.667ZM0 5.333h28v1.334H0V5.333ZM28 8H0v1.333h28V8ZM0 10.667h28V12H0v-1.333Zm28 2.666H0v1.334h28v-1.334ZM0 16h28v1.333H0V16Zm28 2.667H0V20h28v-1.333Z' fill='%23D02F44'/%3E%3Cpath fill='%2346467F' d='M0 0h12v9.333H0z'/%3E%3Cg filter='url(%23b)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.667 2a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0Zm2.667 0A.667.667 0 1 1 4 2a.667.667 0 0 1 1.333 0Zm2 .667a.667.667 0 1 0 0-1.333.667.667 0 0 0 0 1.333ZM10.666 2a.667.667 0 1 1-1.333 0 .667.667 0 0 1 1.333 0ZM3.334 4a.667.667 0 1 0 0-1.333.667.667 0 0 0 0 1.333Zm3.333-.667a.667.667 0 1 1-1.333 0 .667.667 0 0 1 1.333 0Zm2 .667a.667.667 0 1 0 0-1.333.667.667 0 0 0 0 1.333Zm2 .667a.667.667 0 1 1-1.333 0 .667.667 0 0 1 1.333 0Zm-3.333.667a.667.667 0 1 0 0-1.334.667.667 0 0 0 0 1.333Zm-2-.667a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.333 0ZM2 5.334A.667.667 0 1 0 2 4a.667.667 0 0 0 0 1.333ZM4 6a.667.667 0 1 1-1.333 0A.667.667 0 0 1 4 6Zm2 .667a.667.667 0 1 0 0-1.334.667.667 0 0 0 0 1.334ZM9.334 6A.667.667 0 1 1 8 6a.667.667 0 0 1 1.334 0ZM10 8a.667.667 0 1 0 0-1.333A.667.667 0 0 0 10 8Zm-2-.667a.667.667 0 1 1-1.333 0 .667.667 0 0 1 1.333 0ZM4.667 8a.667.667 0 1 0 0-1.333.667.667 0 0 0 0 1.333Zm-2-.667a.667.667 0 1 1-1.333 0 .667.667 0 0 1 1.333 0Z' fill='url(%23c)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='c' x1='1.333' y1='1.333' x2='1.333' y2='8' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23F0F0F0'/%3E%3C/linearGradient%3E%3Cfilter id='b' x='1.333' y='1.333' width='9.333' height='7.667' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_453_2604'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_453_2604' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") center / cover no-repeat;
	}

	&__sep {
		width: 2px;
		height: 24px;
		background-color: $navbar-color-alt;
	}

	&__search {
		width: 24px;
		height: 24px;
		background: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.707 17.293 7.778 7.778M20 10.5a9.5 9.5 0 1 1-19 0 9.5 9.5 0 0 1 19 0Z' stroke='%23989AA9' stroke-width='2'/%3E%3C/svg%3E") center / cover no-repeat;
	}

	&.sticky {
		background: rgba(0, 0, 0, .4);
		padding: .5rem 0rem;
		border-bottom: 1px solid #f8f8f8;
	}

	.blur {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		visibility: hidden;
		opacity: 0;
		backdrop-filter: blur(2px);
		z-index: -1;
	}

	@include resolution(sm) {
		&__menu {
			width: 50%;
		}
	}

	@include resolution(to-md) {
		&.active {
			.blur {
				visibility: visible;
				opacity: 1;
			}
		}

		&__menu {
			position: absolute;
			top: 0px;
			left: -110%;

			flex-direction: column;
			justify-content: center;

			height: 100vh;

			background: $navbar-menu-bg;
			visibility: hidden;
			opacity: 0;
			transition: .3s ease-in;
		}

		&__wrapper {
			position: absolute;
			top: 20px;
			left: 20px;
			display: flex;
			align-items: center;
		}

		&__el {
			min-width: 100px;
			margin: 20px 0;
		}

		&__sep {
			margin: 0 10px;
		}
	}

	@include resolution(md) {
		&__burger {
			display: none;
		}

		&__menu {
			width: auto;
		}

		&__el {
			position: relative;
			margin-right: 15px;

			&:not(:last-child) {

				&::after {
					content: '';
					position: absolute;
					display: block;
					top: -1px;
					right: -8px;

					width: 1px;
					height: 100%;

					background-color: $navbar-color;
				}
			}
		}

		&__link {
			color: $navbar-color;
			font-size: 1.4rem;
		}

		&__wrapper {
			margin-left: 10px;
			order: 2;
		}

		&__sep {
			margin: 0 10px;
		}
	}

	@include resolution(lg) {
		&__container {
			height: 100px;
		}

		&__logo {
			margin-right: 15px;
			width: 80px;
			height: 80px;
		}

		&__title {
			margin-bottom: 15px;
			font-size: 2.4rem;
		}

		&__subtitle {
			font-size: 1.5rem;
		}

		&__el {
			margin-right: 30px;

			&:not(:last-child) {
				&::after {
					top: -1px;
					right: -15px;
				}
			}
		}

		&__link {
			font-size: 1.6rem;
		}

		&__wrapper {
			flex-direction: row-reverse;
		}

		&__sep {
			margin: 0 30px;
			height: 50px;
		}

		&__search {
			width: 28px;
			height: 28px;
		}
	}
}