@import './mixins.scss';
@import './fonts.scss';

/*--------------- page -------------*/
$page-width: 1920;
$container-padding: 15px;
$container-width: 1470px;

/*--------------- media -------------*/
$xxs: 568px; //xxs
$xs: 667px; //xs
$sm: 768px; //sm
$md: 1024px; //md
$xl: 1366px; //xl
$lg: 1470px; //lg

/*--------------- font -------------*/
$font-primary: 'Rubik',
sans-serif;

/*--------------- colors -------------*/
// basic
$main-color: #03115F;
$main-bg-color: #fff;
$title-color: #EEEFF1;
$title-bg: #E6E8EF;
// btns
$btn-color: #EEEFF1;
$btn-bg-color: #1E74EC;
$btn-bg-color-alt: #fff;
// navbar
$navbar-color: #DDDDE2;
$navbar-color-alt: #989AA9;
$navbar-menu-bg: #fff;
// header
$header-color: #EEEFF1;
$header-color-alt: #1E74EC;
// header-info
$header-info-color:#DDDDE2;
$header-info-bg:#03115F;
// supply
$supply-color:#002984;
$supply-color-alt:#75788D;
// portfolio
$portfolio-color: #35417F;
$portfolio-color-alt: #75788D;
// supply
$advantages-color:#002984;
$advantages-color-alt:#535670;
// contactus-us
$contactus-us-bg:#DDDDE2;
$contactus-us-bg-alt:#012C88;
$contactus-us-bd:#fff;
$contactus-us-form-bg:#EEEFF1;
$contactus-us-input-color:#989AA9;
$contactus-us-term-color:#A960AB;
// faq
$faq-icon: #79077B;
$faq-title: #535670;
$faq-text: #75788D;
$faq-bd: #DDDDE2;
// footer
$footer-bg: #03115F;
$footer-color: #EEEFF1;
$footer-term: #A960AB;