@import './../../assets/common/vars.scss';

.socials {
	margin-right: -40px;
	margin-bottom: -20px;

	&__link {
		display: inline-flex;
		flex-wrap: wrap;

		margin-bottom: 20px;
		margin-right: 40px;
		width: 32px;
		height: 32px;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		transition: .3s ease;

		&:hover {
			filter: invert(.5);
		}

		&--in {
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.631 0H2.363C1.056 0 0 1.031 0 2.306v27.382C0 30.962 1.056 32 2.362 32h27.27C30.936 32 32 30.962 32 29.694V2.306C32 1.031 30.937 0 29.631 0ZM9.494 27.269h-4.75V11.994h4.75v15.275ZM7.119 9.912a2.751 2.751 0 0 1-2.756-2.75 2.751 2.751 0 0 1 2.756-2.75 2.75 2.75 0 0 1 0 5.5Zm20.15 17.357h-4.744v-7.425c0-1.769-.031-4.05-2.469-4.05-2.469 0-2.844 1.931-2.844 3.925v7.55h-4.737V11.994h4.55v2.087h.063c.63-1.2 2.18-2.468 4.487-2.468 4.806 0 5.694 3.162 5.694 7.274v8.382Z' fill='%23fff'/%3E%3C/svg%3E");
		}

		&--google {
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.458 8.73a8.695 8.695 0 0 0-6.138-2.399c-4.174 0-7.72 2.816-8.983 6.608a9.584 9.584 0 0 0 0 6.127h.006c1.27 3.786 4.809 6.602 8.983 6.602 2.155 0 4.004-.551 5.438-1.525v-.004a7.406 7.406 0 0 0 3.198-4.862H16.32v-6.161h15.092c.188 1.07.276 2.163.276 3.251 0 4.866-1.74 8.98-4.765 11.767l.003.003C24.274 30.583 20.636 32 16.32 32c-6.05 0-11.582-3.41-14.298-8.813a16.014 16.014 0 0 1 0-14.369A15.997 15.997 0 0 1 16.32 0a15.378 15.378 0 0 1 10.706 4.163L22.458 8.73Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

		}

		&--fb {
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M32 16c0-8.837-7.163-16-16-16S0 7.163 0 16c0 7.985 5.85 14.605 13.5 15.805v-11.18H9.437v-4.626H13.5v-3.524c0-4.01 2.389-6.225 6.043-6.225 1.75 0 3.582.312 3.582.312v3.937h-2.017c-1.988 0-2.608 1.234-2.608 2.5v3h4.438l-.71 4.626H18.5v11.18C26.15 30.605 32 23.985 32 16Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		}

		&--web {
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0C7.167 0 0 7.167 0 16c0 8.832 7.167 16 16 16 8.816 0 16-7.168 16-16 0-8.833-7.184-16-16-16Zm10.568 7.375a13.604 13.604 0 0 1 3.09 8.503c-.452-.087-4.964-1.007-9.51-.434-.105-.225-.191-.468-.296-.711-.277-.66-.59-1.337-.902-1.979 5.033-2.047 7.323-4.997 7.618-5.38ZM16 2.36c3.47 0 6.646 1.301 9.059 3.436-.243.347-2.309 3.106-7.168 4.928-2.238-4.113-4.72-7.48-5.101-8 1.023-.243 2.1-.364 3.21-.364Zm-5.813 1.284c.364.486 2.793 3.87 5.067 7.896-6.386 1.7-12.026 1.666-12.634 1.666.885-4.235 3.749-7.757 7.567-9.562ZM2.325 16.017V15.6c.59.018 7.22.104 14.04-1.943.399.763.763 1.544 1.11 2.325-.174.052-.364.104-.538.156-7.045 2.274-10.794 8.486-11.106 9.007a13.634 13.634 0 0 1-3.506-9.128ZM16 29.674a13.57 13.57 0 0 1-8.382-2.88c.243-.504 3.02-5.849 10.725-8.538.034-.018.052-.018.087-.035 1.926 4.98 2.707 9.162 2.915 10.36A13.441 13.441 0 0 1 16 29.674Zm7.618-2.343c-.139-.833-.867-4.824-2.655-9.735 4.287-.677 8.035.434 8.503.59-.59 3.8-2.776 7.08-5.848 9.145Z' fill='%23fff'/%3E%3C/svg%3E");
		}

		&--inst {
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23fff'%3E%3Cpath d='M16 2.88c4.275 0 4.781.02 6.462.095 1.563.068 2.407.33 2.97.55a4.949 4.949 0 0 1 1.837 1.193 4.921 4.921 0 0 1 1.194 1.838c.218.562.48 1.412.55 2.969.074 1.687.093 2.193.093 6.462 0 4.275-.019 4.781-.094 6.463-.068 1.562-.33 2.406-.55 2.968a4.95 4.95 0 0 1-1.193 1.838 4.922 4.922 0 0 1-1.838 1.194c-.562.218-1.412.48-2.969.55-1.687.075-2.193.093-6.462.093-4.275 0-4.781-.018-6.463-.093-1.562-.07-2.406-.332-2.968-.55a4.949 4.949 0 0 1-1.838-1.194 4.922 4.922 0 0 1-1.193-1.838c-.22-.562-.482-1.412-.55-2.968-.075-1.688-.094-2.194-.094-6.463 0-4.275.018-4.781.093-6.462.07-1.563.332-2.407.55-2.97a4.948 4.948 0 0 1 1.194-1.837A4.921 4.921 0 0 1 6.57 3.525c.562-.22 1.412-.482 2.968-.55C11.22 2.9 11.726 2.88 16 2.88ZM16 0c-4.344 0-4.887.018-6.594.093-1.7.075-2.869.35-3.881.744-1.056.413-1.95.956-2.838 1.85-.893.888-1.437 1.781-1.85 2.831C.444 6.537.17 7.7.094 9.4.019 11.112 0 11.656 0 16c0 4.343.019 4.887.094 6.593.075 1.7.35 2.869.744 3.881.412 1.057.956 1.95 1.85 2.838a7.822 7.822 0 0 0 2.83 1.844c1.02.393 2.182.669 3.882.744 1.706.075 2.25.093 6.594.093 4.343 0 4.887-.018 6.593-.093 1.7-.075 2.87-.35 3.882-.744a7.822 7.822 0 0 0 2.831-1.844 7.822 7.822 0 0 0 1.844-2.831c.394-1.019.669-2.182.744-3.882.074-1.706.093-2.25.093-6.593 0-4.344-.019-4.888-.094-6.594-.075-1.7-.35-2.869-.743-3.881a7.494 7.494 0 0 0-1.831-2.844A7.82 7.82 0 0 0 26.48.843C25.462.45 24.3.175 22.6.1 20.887.018 20.344 0 16 0Z'/%3E%3Cpath d='M16 7.78A8.22 8.22 0 0 0 7.781 16 8.22 8.22 0 0 0 16 24.218 8.22 8.22 0 0 0 24.219 16 8.22 8.22 0 0 0 16 7.781Zm0 13.55a5.332 5.332 0 1 1 .002-10.663A5.332 5.332 0 0 1 16 21.33ZM26.462 7.456a1.92 1.92 0 1 1-3.838-.001 1.92 1.92 0 0 1 3.838 0Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		}
	}
}