@import './../../assets/common/vars.scss';

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	.container {
		padding-top: 150px;
		padding-bottom: 80px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: -1;
	}

	&__title {
		@include adaptive-value(font-size, 36, 74);
		@include adaptive-value(line-height, 40, 70);

		margin-bottom: 15px;

		color: $header-color;

		span {
			display: block;
			color: $header-color-alt;
		}
	}

	&__subtitle {
		margin-bottom: 40px;
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: $header-color;
	}

	@include resolution(xxs) {

		&__title {
			width: 500px;
		}

		&__subtitle {
			width: 300px;
		}
	}

	@include resolution(md) {
		.container {
			padding-top: 200px;
			padding-bottom: 100px;
		}

		&__title {
			margin-bottom: 25px;
			width: 800px;
		}

		&__subtitle {
			margin-bottom: 50px;
			width: 500px;

			font-size: 1.6rem;
			line-height: 2rem;
		}
	}

	@include resolution(lg) {
		.container {
			padding-top: 250px;
			padding-bottom: 410px;
		}

		&__title {
			margin-bottom: 25px;
			width: 1200px;
		}

		&__subtitle {
			margin-bottom: 60px;
			font-size: 2rem;
			line-height: 2.8rem;
		}
	}
}